<%- include("../partials/header.ejs")%>
    <div class = "container">
        <div class = "row">
            <h2 class="formHeads" style = "text-align: center">Add a new Camp-Ground</h2><br>
            <form action="/Campgrounds"  method="POST">
                <div class= "content" style = "margin: 0px 20%">
                    <div class = "form-group">
                        <input class = "form-control" type = "text" name = "formName" required placeholder = "Camp name ">
                    </div>
                    <div class = "form-group input-group">
                        <span class="input-group-addon">Rs.</span>
                        <input  class="form-control" aria-label="Amount (to the nearest dollar)" type = "number" name = "formPrice" required placeholder = "Price " min="0.00" step="10">
                        <span  class="input-group-addon">.00</span>
                    </div>
                    <div class = "form-group">
                        <input class = "form-control" type = "text" name = "formUrl" required placeholder = "Image URL ">
                    </div>
                     <div class = "form-group">
                        <textarea class = "form-control" type = "text" name = "formDescription" style="height: 150px; margin-bottom: 20px;" required placeholder = "Description"></textarea>
                    </div>
                 </div>
                <div class = "form-group" style = "margin: 0 40%; width:20%">
                    <button class  = "btn btn-lg btn-primary btn-block" type = "">Submit</button>
                </div>
            </form>
            <p ><a href="/Campgrounds">Go Back</a></p>
        </div>
    </div>
<%- include("../partials/footer.ejs")%>